<div layout-gt-xs="row">
    <ssvq-timing-selector flex
                          now-button="false"
                          label="Inicio"
                          required="true"
                          date="vm.range.startTime"></ssvq-timing-selector>
    <ssvq-timing-selector flex
                          now-button="false"
                          label="Término"
                          required="true"
                          date="vm.range.endTime"></ssvq-timing-selector>
</div>
