<table style="max-width:300px; padding:20px;">
    <tr>
        <td align="center">
            <div class="custom-border">
                <div class="blue-border"></div>
                <div class="red-border"></div>
            </div>
            <p class="ssvq-color">Mi SSVQ</p>
            <div class="custom-border">
                <div class="blue-border"></div>
                <div class="red-border"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="lead">
                Servidor Reiniciado
            </p>
            <p>
                Se muestra últimas lineas de log de errores
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <pre style='font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
                        font-size: 12px; font-weight: lighter;'>
                <%- log %>
            </pre>
        </td>
    </tr>
</table>
