<div layout="column">
    <div layout="row"
         class="padding-top-10">
        <md-icon md-font-icon="zmdi zmdi-info-outline"></md-icon>
        <span class="md-body-2 padding-left-10">Información Antigüedades</span>
        <span flex></span>
    </div>
    <md-list>
        <md-list-item>
            <span class="md-body-1">
                <b>1</b> Esta fecha señala la última vez que fue ascendido. Mientras mas actual, menor será la prioridad para
                ascender.
            </span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">
                <b>2</b> Esta fecha señala la última vez que fue ascendido. Mientras más actual, menor será la prioridad para
                ascender y el puntaje final de acreditación.
                <b>PARA ACREDITACIÓN</b>
            </span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">
                <b>3</b> Corresponde al tiempo desde que fue nombrado titular. (NO considera sus años de antigüedad como Contrata,
                Honorarios o Compras de Servicios). Mientras menor sea esta antigüedad, menor será el puntaje final de acreditación.
                <b>PARA ACREDITACIÓN</b>
            </span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">
                <b>4</b> Corresponse al tiempo que tiene servidos en la Administración Pública. Este tiempo puede incluir cargos
                en APS Municipal (si son de derecho público), u otros Organismos de la Administración Pública Este tiempo
                contiene el servido en el Servicio de Salud.
            </span>
        </md-list-item>
    </md-list>
</div>
