<div layout="column"
     layout-align="center center">
    <div class="gob-iso"
         layout="row">
        <div class="blue"
             flex="40"></div>
        <div class="red"
             flex="60"></div>
    </div>
    <span>
        <b>Mi SSVQ</b>
    </span>
</div>
<div flex
     layout="column"
     layout-align="center center">
    <span class="md-title"
          hide-xs>
        SERVICIO SALUD VIÑA DEL MAR - QUILLOTA
    </span>
    <span class="md-body-1">
        CONSULTA A ESCALAFONES DE MERITO
    </span>
    <!--span class="md-caption text-center hidden-print">
            En esta consulta, usted podrá acceder a los últimos tres escalafones de Mérito del Servicio para verificar su estado y respecto del último (2016) si lo requiere, podrá adjuntar antecedentes que permitan modificarlo en la Unidad De Personbal de su Establecimiento.</span-->
</div>
<div layout="column"
     layout-align="center center">
    <b>
        <span class="md-caption">Subdirección de Recursos Humanos</span>
    </b>
    <span class="md-caption">Cercanía, Integración, Educación</span>
</div>
