#public-sidenav.md-sidenav-left {
    min-width: 340px !important;
}
.type-list-item {
    background: #EEEEEE;
}
.establishment-list-item {
    background: #fbfbfb;
    border-bottom: 1px solid #f8f8f8
}
.menu-toggle-icon.open {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.menu-toggle-icon {
    text-align: center;
    float: right;
    -webkit-transition: all .5s;
    transition: all .5s;
}