<div layout="row">
	<md-input-container flex
						class="md-block">
		<label for="numDonation">{{'STORAGE_MOVEMENT.TABLE.NUM_DONATION'|translate}}</label>
		<input type="text"
			   name="numDonation"
			   ng-readonly="vm.movement.status==2"
			   ng-model="vm.movement.numDonation">
		<div ng-messages="formGeneral.numDonation.$error">
			<div ng-message="required">
				<span translate>STORAGE_MOVEMENT.VALIDATOR.REQUIRED</span>
			</div>
		</div>
	</md-input-container>

	<md-input-container flex
						class="md-block">
		<label for="donatedBy">{{'STORAGE_MOVEMENT.TABLE.DONATED_BY'|translate}}</label>
		<input type="text"
			   name="donatedBy"
			   required
			   ng-readonly="vm.movement.status==2"
			   ng-model="vm.movement.donatedBy">
		<div ng-messages="formGeneral.donatedBy.$error">
			<div ng-message="required">
				<span translate>STORAGE_MOVEMENT.VALIDATOR.REQUIRED</span>
			</div>
		</div>
	</md-input-container>
</div>

<div layout="row">
	<md-input-container flex
						class="md-block">
		<label for="date">Fecha</label>
		<md-datepicker ng-model="vm.movement.date"
					   required
					   ng-disabled="vm.movement.status==2"
					   md-aria-label="Fecha del movimiento">
		</md-datepicker>
		<div ng-messages="formGeneral.date.$error">
			<div ng-message="required">
				<span translate>STORAGE_MOVEMENT.VALIDATOR.REQUIRED</span>
			</div>
		</div>
	</md-input-container>

	<md-input-container flex
						ng-if="vm.movement.id"
						class="md-block">
		<label for="priceTotal">Precio Neto Total</label>
		<input type="number"
			   name="priceTotal"
			   ng-disabled="vm.movement.status==2"
			   ng-model="vm.movement.priceTotal">
	</md-input-container>
</div>
