<div layout="column">
    <div layout="row"
         class="padding-top-10">
        <md-icon md-font-icon="zmdi zmdi-info-outline"></md-icon>
        <span class="md-body-2 padding-left-10">El puntaje de acreditación se obtiene de:</span>
        <span flex></span>
    </div>
    <md-list>
        <md-list-item>
            <span class="md-body-1">1.- Horas de capacitación: son las realizadas durante los ultimos tres años del escalafón respectivo. Del puntaje
                obtenido se multiplica por el factor 30%.</span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">2.- Calificaciones: puntaje obtenido en el último periodo (del año que corresponda) multiplicado por el factor
                30%.</span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">3.- Antigüedad como títular: Años que usted tiene (como titular) en la planta, grado, otras plantas u otras instituciones.
                El total de años en cada situación tiene un puntaje asignado al que, una vez sumado, se le aplica el factor
                40%.</span>
        </md-list-item>
    </md-list>
</div>
