<ssvq-adverse-event-medication-form-view data="vm.data"
                                         ng-if="vm.form === 'FormMedication'"></ssvq-adverse-event-medication-form-view>
<ssvq-adverse-event-upp-form-view data="vm.data"
                                  ng-if="vm.form === 'FormUpp'"></ssvq-adverse-event-upp-form-view>
<ssvq-adverse-event-fall-form-view data="vm.data"
                                   ng-if="vm.form === 'FormFall'"></ssvq-adverse-event-fall-form-view>
<ssvq-adverse-event-general-form-view data="vm.data"
                                      ng-if="vm.form === 'FormGeneral'"></ssvq-adverse-event-general-form-view>
