<md-dialog flex="60"
           aria-label="Jefe de la unidad">
    <form name="saveForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div layout="column"
                     layout-align="center first"
                     flex>
                    <span class="md-caption">
                        {{ ::('Gestión de encargado(s) de unidad' | translate) }} &nbsp;
                        <md-icon md-font-icon="zmdi zmdi-chevron-right"></md-icon>
                    </span>
                    <span class="md-body-2"
                          md-truncate>
                        {{ ::vm.unit.name }}
                    </span>
                </div>
                <md-button class="md-icon-button"
                           ng-click="vm.cancel()"
                           aria-label="Cancelar">
                    <md-tooltip>Volver</md-tooltip>
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <ssvq-unit-managers unit="vm.unit"></ssvq-unit-managers>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button aria-label="Listo"
                       class="md-primary"
                       ng-click="vm.cancel()">
                <span>Volver</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
