<md-dialog aria-label='Título'
           flex='70'
           flex-sm='80'
           flex-xs='100'
           class='mobile-fullwidth-dialog'>
    <md-toolbar>
        <div class='md-toolbar-tools'>
            <md-button class='md-icon-button'
                       ng-click='vm.cancel()'>
                <md-icon md-font-icon='zmdi zmdi-arrow-left'></md-icon>
                <md-tooltip>Volver</md-tooltip>
            </md-button>
            <span class='md-subhead'
                  flex>Nuevo recurso</span>
            <md-button ng-click="vm.confirm()"
                       ng-if="!vm.resource.id">Guardar</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-padding">
            <ssvq-resource-data resource="vm.resource"></ssvq-resource-data>
        </div>
    </md-dialog-content>
</md-dialog>
