<md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
            <md-icon md-font-icon="zmdi zmdi-devices"></md-icon>
        </md-button>
        <div layout="column"
             hide-xs
             flex>
            <span class="md-subhead">Recursos</span>
            <span class="md-caption">Mostrando {{vm.resourceList.length}} de {{vm.count}} resultados</span>
        </div>
        <span flex
              hide-xs></span>
        <md-button class="md-icon-button"
                   ng-click="vm.toggleFilter()"
                   hide-gt-xs>
            <md-icon md-font-icon="fa fa-filter"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<section layout="row"
         class="resource-list-container"
         flex>
    <div flex
         style="position:relative;"
         class="resource-list-container">
        <md-content ssvq-infinite-load
                    next-page="vm.nextPage"
                    ng-if="vm.resourceList.length"
                    class="resource-list-container animated slideInUp animation-stop"
                    flex>
            <md-list class="padding-0">
                <md-list-item class="md-3-line"
                              ng-click="vm.showDetailsDialog($event, resource)"
                              aria-label="Recurso"
                              ng-repeat="resource in vm.resourceList">
                    <md-icon class="md-avatar-icon"
                             layout="row"
                             layout-align="center center"
                             style="background: #5fa0bf;"
                             ng-class="vm.getResourceIcon(resource.type)"></md-icon>
                    <div class="md-list-item-text">
                        <h3>{{resource.model}} {{resource.manufacturer}} {{resource.serialNumber}}</h3>
                        <h4>{{resource.establishment.name || 's/establecimiento'}} • {{resource.unit.name
                            || 's/unidad'}}</h4>
                        <p>
                            <ssvq-resource-status id="{{resource.status}}"></ssvq-resource-status> •
                            <span ng-if="resource.ipAddress">IP {{resource.ipAddress}} •</span>
                            <span ng-if="resource.macAddress">MAC {{resource.macAddress}} •</span>
                            <span>{{resource.phoneNumber}}</span>
                        </p>
                    </div>
                    <div class="md-secondary"
                         ng-if="resource.currentEmployee"
                         layout="column">
                        <span class="md-caption text-right">Funcionario asignado</span>
                        <span class="md-body-2"
                              md-colors="{color:'primary'}">{{resource.currentEmployee.fullname}}</span>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        <ssvq-loading ng-show="!vm.resourceList"></ssvq-loading>
        <ssvq-no-results ng-show="vm.resourceList.length == 0"></ssvq-no-results>
        <md-fab-speed-dial md-open="vm.isOpen"
                           md-direction="up"
                           class="md-fab-bottom-right md-fling md-hover-full"
                           ng-mouseenter="vm.isOpen=true;"
                           ng-mouseleave="vm.isOpen=false;"
                           ng-cloak>
            <md-fab-trigger>
                <md-button aria-label="menu"
                           class="md-raised md-primary md-fab"
                           ng-click="vm.showCreateDialog($event)">
                    <md-icon md-font-icon="zmdi zmdi-edit"
                             class="animated rotateIn float-icon-swipeable"
                             ng-class="!vm.isOpen? 'rotateOut' : ''"></md-icon>
                    <md-icon md-font-icon="zmdi zmdi-plus"
                             class="animated rotateIn float-icon-swipeable"
                             ng-class="vm.isOpen? 'rotateOut' : ''"></md-icon>
                    <md-tooltip md-direction="left">
                        Nueva recurso
                    </md-tooltip>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Exportar"
                           class="md-fab md-raised md-mini md-accent"
                           ng-click="vm.exportData()">
                    <md-icon md-font-icon="fa fa-file-excel-o"></md-icon>
                    <md-tooltip md-direction="left">
                        Exportar en formato Excel
                    </md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-1dp"
                md-component-id="resource-filter"
                md-is-locked-open="$mdMedia('gt-xs')">
        <ssvq-resource-maintainer-filter on-change="vm.applyFilter"></ssvq-resource-maintainer-filter>
    </md-sidenav>
</section>
