<md-card ng-if="vm.workshiftConflicts.length > 0">
    <md-list>
        <md-list-item ng-repeat="workshift in vm.workshiftConflicts"
                      class="md-2-line">

            <md-icon md-font-icon="zmdi zmdi-alert-triangle md-avatar-icon"
                     style="background: #fd5154;"
                     layout="row"
                     layout-align="center center">
                <md-tooltip>Revisar conflicto de horario</md-tooltip>
            </md-icon>
            <div class="md-list-item-text">
                <h4>{{workshift.establishment.name}}</h4>
                <p>{{workshift.title}}</p>
            </div>
            <div class="md-secondary"
                 layout="column"
                 layout-align="center end">
                <span class="md-body-1">
                    <span class="md-body-2">Término:</span>
                    {{workshift.endTime | date:"EEE dd'/'MM '•' HH:mm"}}
                </span>
                <span class="md-body-1">
                    <span class="md-body-2">Inicio:</span>
                    {{workshift.startTime | date:"EEE dd'/'MM '•' HH:mm"}}
                </span>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-card>
<form>
    <input type="hidden"
           required
           ng-model="vm.isValid">
</form>
