<md-dialog aria-label="Supervisores de la unidad"
           flex="60"
           flex-sm="80"
           flex-xs="100"
           class="mobile-fullwidth-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button"
                       ng-click="vm.close()">
                <md-icon md-font-icon="zmdi zmdi-arrow-left"></md-icon>
            </md-button>
            <div layout="column">
                <span class="md-subhead">
                    Gestión de establecimiento
                </span>
                <span class="md-caption">
                    {{vm.establishment.name}}
                </span>
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-tabs class="md-primary md-hue-1"
                 style="min-height:80vh;"
                 flex>
            <md-tab label="Supervisores">
                <div class="md-padding">
                    <ssvq-employee-autocomplete on-select="vm.addBedManagementSupervisor"
                                                clear-on-select="true"></ssvq-employee-autocomplete>
                </div>
                <md-list-item ng-repeat="supervisor in vm.supervisors">
                    <ssvq-employee-item-list employee="supervisor"></ssvq-employee-item-list>
                    <md-button class="md-secondary md-warn md-raised"
                               ng-click="vm.removeBedManagementSupervisor(supervisor)">
                        Quitar
                    </md-button>
                </md-list-item>
            </md-tab>
            <md-tab label="Unidades">
                <div class="md-padding">
                    <ssvq-unit-autocomplete on-select="vm.addUnit"
                                            establishment="{{::vm.establishment.id}}"
                                            clear-on-select="true"></ssvq-unit-autocomplete>
                </div>
                <md-list-item ng-repeat="unit in vm.unitList"
                              class="md-2-line">
                    <div class="md-list-item-text">
                        <h4>{{unit.name}}</h4>
                        <p></p>
                    </div>
                    <md-button class="md-secondary md-warn md-raised"
                               ng-click="vm.removeUnit(unit)">
                        Quitar
                    </md-button>
                </md-list-item>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>
