<md-dialog aria-label=""
           flex="60">
    <form name="saveForm"
          ng-submit="saveForm.$valid && save(temp)"
          novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    {{ ( (!temp.id)? 'JOB.OTHERS.CREATETITLE' : 'JOB.OTHERS.EDITTITLE' ) | translate }}
                </h2>
                <span flex></span>
                <md-button class="md-icon-button"
                           ng-click="cancel()"
                           aria-label="Cancelar">
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-warn"
                    ng-show="msg !== ''">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">{{msg|translate}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content"
                 layout-padding>
                <div flex>
                    <div flex>
                        <md-input-container class="md-block">
                            <label translate>JOB.NAME</label>
                            <input type="text"
                                   name="name"
                                   ng-model="temp.name"
                                   md-autofocus
                                   required>
                            <div ng-messages="saveForm.name.$error">
                                <div ng-message="required">
                                    <span translate>JOB.VALIDATOR.REQUIRED</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label translate>JOB.DESCRIPTION</label>
                            <input type="text"
                                   ng-model="temp.description">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-accent"
                       ng-click="cancel()"
                       aria-label="{{ 'CRUD.CANCEL' | translate }}"
                       translate="CRUD.CANCEL">
            </md-button>
            <md-button class="md-primary"
                       type="submit"
                       aria-label="{{ 'CRUD.SAVE' | translate }}"
                       ng-disabled="saveForm.$submitted && saveForm.$invalid"
                       translate="CRUD.SAVE">
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
