<md-dialog aria-label="Selección de establecimiento"
           id="establishment-selector-dialog"
           flex="60"
           flex-sm="80"
           flex-xs="100"
           class="mobile-fullwidth-dialog">
    <form name="vm.saveForm"
          ng-submit="vm.saveForm.$valid && vm.confirm()"
          novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                Selección de establecimiento
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-list>
                <md-list-item class="md-2-line"
                              ng-class="{'selected': vm.currentEstablishment.id == establishment.id}"
                              ng-click="vm.currentEstablishment = establishment"
                              ng-repeat="establishment in vm.establishmentList track by $index">
                    <div class="md-list-item-text">
                        <h3>{{establishment.name}}</h3>
                        <p class="bed-icon">
                            <span class="enabled">
                                <span>18</span>
                                <md-icon md-font-icon="zmdi zmdi-hotel"></md-icon>
                            </span>
                            <span class="bullet">•</span>
                            <span class="using">
                                <span>30</span>
                                <md-icon md-font-icon="zmdi zmdi-hotel"></md-icon>
                            </span>
                            <span class="bullet">•</span>
                            <span class="disabled">
                                <span>2</span>
                                <md-icon md-font-icon="zmdi zmdi-hotel"></md-icon>
                            </span>
                        </p>
                    </div>
                    <md-icon ng-show="vm.currentEstablishment.id == establishment.id"
                             class="md-primary"
                             md-font-icon="zmdi zmdi-check-circle"></md-icon>
                </md-list-item>
            </md-list>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary"
                       type="submit"
                       aria-label="Cambiar establecimiento">
                Cambiar establecimiento
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
