<md-dialog aria-label="Selección de paciente"
           flex="60"
           flex-sm="80"
           flex-xs="100"
           class="mobile-fullwidth-dialog">
    <form name="vm.saveForm"
          ng-submit="vm.saveForm.$valid && vm.confirm()"
          novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button"
                           ng-click="vm.cancel()">
                    <md-icon md-font-icon="zmdi zmdi-arrow-left"></md-icon>
                    <md-tooltip>Volver</md-tooltip>
                </md-button>
                <span flex
                      class="md-subhead">
                    Asignar paciente a cama
                </span>
                <md-button type="submit"
                           aria-label="Asignar paciente">
                    Asignar paciente
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <md-subheader class="md-primary">Identificación</md-subheader>
            <ssvq-patient-autocomplete patient="vm.patient"></ssvq-patient-autocomplete>
            <md-subheader class="md-primary">Datos generales</md-subheader>
            <ssvq-patient-personal-data personal-data="vm.patient"
                                        class="md-padding"></ssvq-patient-personal-data>
        </md-dialog-content>
    </form>
</md-dialog>
