<section layout="row">

    <div flex>
        <div ng-include="'/components/storage/expressIncome/expressIncomeAdmin/toolbar.html'"></div>
        <div ng-include="'/components/storage/expressIncome/expressIncomeAdmin/modeList.html'"
             ng-if="vm.viewMode == 'list'"></div>
        <md-content ng-include="'/components/storage/expressIncome/expressIncomeAdmin/modeTable.html'"
                    ng-if="vm.viewMode == 'table'"></md-content>
    </div>

    <!-- SECCION FILTRO -->
    <md-sidenav class="md-sidenav-right md-whiteframe-1dp"
                md-is-locked-open="$mdMedia('gt-xs')"
                md-component-id='expressIncomes-filter'>

        <div ng-include="'/components/storage/expressIncome/expressIncomeAdmin/filter.html'"></div>
    </md-sidenav>
</section>