<md-toolbar md-theme="white">
    <div class="md-toolbar-tools">
        <md-icon md-font-icon="fa fa-filter"></md-icon>
        <h2 flex>Filtros</h2>
        <md-button ng-click="vm.cleanFilters()">Limpiar</md-button>
    </div>
</md-toolbar>
<md-content>
    <md-input-container md-no-float
                        class="md-block margin-left-10 margin-right-10 margin-bottom-0">
        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
        <input ng-model="vm.filter.searchText"
               ng-model-options="{ debounce: 800 }"
               type="search"
               id="search"
               autofocus
               placeholder="{{ 'CRUD.SEARCH' | translate }}">
    </md-input-container>
    <md-divider></md-divider>
    <!-- Creado por -->
    <md-list-item class="md-2-line"
                  ng-disabled="vm.filterOpened == 'createdBy'"
                  ng-click="vm.filterOpened = 'createdBy'">
        <div class="md-list-item-text">
            <h3>Creado por</h3>
            <p ng-show="vm.mode === 'sent'">
                {{vm.me.fullname || 'Cualquiera'}}
            </p>
            <p ng-show="vm.mode !== 'sent'">
                {{vm.filter.createdBy.fullname || 'Cualquiera'}}
            </p>
        </div>
        <md-button class="md-secondary"
                   ng-click="vm.selectMeAsCreatedBy()"
                   ng-hide="vm.filter.createdBy">
            <span class="md-caption">Por mi</span>
        </md-button>
        <md-button class="md-secondary md-icon-button"
                   ng-click="vm.filter.createdBy = null"
                   ng-show="vm.filter.createdBy && vm.mode !== 'sent'">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            <md-tooltip>Limpiar filtro</md-tooltip>
        </md-button>
    </md-list-item>
    <md-divider style="width:98%; margin:auto;"></md-divider>

    <md-list-item class="md-2-line"
                  ng-click="vm.showCreatedAtFilter($event)">
        <div class="md-list-item-text">
            <h3>Fecha de creación</h3>
            <p>
                <span ng-show="vm.filter.minDate || vm.filter.maxDate">
                    {{(vm.filter.minDate | date : "dd MMM y") || '--'}} al {{(vm.filter.maxDate | date : "dd MMM y") ||
                    '--'}}
                </span>
                <span ng-show="!vm.filter.minDate && !vm.filter.maxDate">
                    Cualquiera
                </span>
            </p>
        </div>
        <md-button class="md-secondary md-icon-button"
                   ng-click="vm.filter.minDate = vm.filter.maxDate = null"
                   ng-show="vm.filter.minDate || vm.filter.maxDate">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            <md-tooltip>Limpiar filtro</md-tooltip>
        </md-button>
    </md-list-item>
    <div>
        <md-divider style="width:98%; margin:auto;"></md-divider>
        <md-list-item>
            Estado
        </md-list-item>
        <md-list-item ng-repeat="item in vm.workflowStatus">
            <span class="md-body-2">{{::item.name}}</span>
            <md-checkbox class="md-secondary md-primary"
                         aria-label="{{::item.name}}"
                         ng-model="item.checked"></md-checkbox>
        </md-list-item>
    </div>
</md-content>
