<div ng-if="desktop"
     class="md-padding">
    <ssvq-rem-basic-information data="vm.formData"
                                mode="remCreated">
    </ssvq-rem-basic-information>
</div>
<md-list class="padding-0"
         ng-if="mobile">
    <md-list-item class="md-3-line md-long-text">
        <div class="custom-tiny-icon">
            <div class="priority"
                 layout="row"
                 layout-align="center center"
                 ng-show="vm.data.priority"
                 ng-class="vm.data.priority">
                <span>
                    {{vm.data.priority}}
                </span>
            </div>
        </div>
        <div class="md-list-item-text">
            <h4>
                <span>{{vm.data.callReason.name | truncate:true:8:'...'}} • {{vm.data.subCallReason.name}}</span>
            </h4>
            <p>{{vm.data.description}}</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-2-line">
        <div class="custom-tiny-icon">
            <i class="zmdi zmdi-phone-in-talk"
               style="background: #85a9d9;"
               layout="row"
               layout-align="center center"></i>
        </div>
        <div class="md-list-item-text">
            <h4>
                <span>Solicitante: {{vm.data.applicantType.name || '--'}}</span>
            </h4>
            <p>
                <span>{{vm.data.applicantName || '--'}}</span>
                <span>•</span>
                <a class="md-hue-1"
                   ng-href="tel:{{vm.data.applicantPhone}}">{{vm.data.applicantPhone || '--'}}</a>
            </p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="vm.edit()">
        <span class="md-caption text-center"
              md-colors="{color:'primary'}"
              flex>
            <i class="zmdi zmdi-edit"></i>
            Editar datos básicos
        </span>
    </md-list-item>
</md-list>
