/* ssvq-product-autocomplete md-autocomplete-wrap::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f002";
    line-height: 1;
    padding: 8px 0px 0px 8px;
    font-weight: normal;
    font-size: 20px;
    margin-top: 16px;
    margin-right: 4px;
} */