<md-dialog flex="50"
           flex-sm="80"
           flex-xs="100"
           aria-label="Derivación de unidad">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>UNITASSIGNMENT.TITLE</h2>
            <span flex></span>
            <md-button class="md-icon-button"
                       aria-label="Cancelar"
                       ng-click="cancel()">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="unitAssignmentForm">
        <md-dialog-content layout="column"
                           class="md-padding margin-top-10">
            <ssvq-log-comparison old-value="vm.oldValue.name"
                                 new-value="vm.newValue.name"></ssvq-log-comparison>
            <div class="md-padding">
                <md-input-container class="md-block"
                                    md-no-float
                                    flex>
                    <md-icon md-font-icon="zmdi zmdi-comment-outline"></md-icon>
                    <textarea ng-model="vm.comment"
                              md-maxlength="600"
                              rows="5"
                              placeholder="Agrega un comentario"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row"
                       layout-align="end center">
        <md-button aria-label="Cancelar"
                   ng-click="vm.close()">
            <span translate>UNITASSIGNMENT.CANCEL</span>
        </md-button>
        <md-button aria-label="Listo"
                   class="md-primary"
                   ng-click="vm.confirm(vm.comment)"
                   style="margin-right:20px;">
            <span translate>UNITASSIGNMENT.CONFIRM</span>
        </md-button>
    </md-dialog-actions>
</md-dialog>
