<md-dialog aria-label="Agregar funcionarios al perfil"
           flex="60"
           flex-sm="80"
           flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button"
                       ng-click="vm.cancel()">
                <md-icon md-font-icon="zmdi zmdi-arrow-left"></md-icon>
                <md-tooltip>Volver</md-tooltip>
            </md-button>
            <h4>Agregar unidades</h4>
        </div>
    </md-toolbar>
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <ssvq-unit-autocomplete type="search"
                                    on-select="vm.addUnit"
                                    clear-on-select="true"
                                    min-length="1"
                                    label="Seleccionar unidades"
                                    flex></ssvq-unit-autocomplete>
        </div>
    </md-toolbar>
    <md-dialog-content style="min-height: 300px;">
        <md-list>
            <md-list-item ng-repeat="unit in vm.unitList"
                          class="md-2-line">
                <md-icon class="md-avatar-icon"
                         layout="row"
                         layout-align="center center"
                         md-font-icon="zmdi zmdi-group-work"></md-icon>
                <div class="md-list-item-text">
                    <h3>{{unit.name}}</h3>
                    <p>{{unit.description}}</p>
                </div>
                <md-button class="md-warn md-raised md-secondary"
                           ng-click="vm.removeUnit(unit)">Quitar</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
        <p class="text-center"
           ng-show="vm.unitList.length == 0">La lista de unidades está vacía</p>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.cancel()"
                   class="md-accent"
                   aria-label="Cancelar">
            Cancelar
        </md-button>
        <md-button ng-click="vm.confirm()"
                   ng-disabled="vm.unitList.length == 0"
                   class="md-primary md-raised md-hue-1"
                   aria-label="Confirmar">
            Agregar seleccionados
        </md-button>
    </md-dialog-actions>
</md-dialog>
