<md-toolbar md-theme="white">
    <div class="md-toolbar-tools">
        <md-icon md-font-icon="fa fa-filter"
                 class="md-font material-icons fa fa-filter md-white-theme"
                 role="img"
                 aria-label="fa fa-filter"></md-icon>
        <h2 flex=""
            class="flex">Filtros</h2>
        <button class="md-button md-ink-ripple md-white-theme"
                type="button"
                ng-click="vm.cleanFilter()">
            <span class="ng-scope">Limpiar</span>
            <div class="md-ripple-container"></div>
        </button>
    </div>
</md-toolbar>

<md-content class="_md md-my-theme-theme">
    <md-input-container md-no-float
                        class="md-block margin-left-10 margin-right-10 margin-bottom-0 md-icon-left md-input-has-placeholder md-my-theme-theme">
        <md-icon md-font-icon="zmdi zmdi-search"
                 class="md-my-theme-theme md-font material-icons zmdi zmdi-search"
                 role="img"
                 aria-label="zmdi zmdi-search"></md-icon>

        <input type="search"
               autofocus
               ng-model="vm.filter.searchText"
               ng-change="vm.refreshAll()"
               aria-label="Buscar">
    </md-input-container>

    <md-input-container md-no-float
                        class="md-block margin-left-10 margin-right-10 margin-bottom-40 md-input-has-placeholder md-my-theme-theme">
        <label translate>PRODUCT_REQUEST.TABLE.COST_CENTER</label>
        <md-select ng-model="vm.filter.searchCostCenter"
                   ng-change="vm.refreshAll()">
            <md-option></md-option>
            <md-option ng-repeat="costCenter in vm.costCenters"
                       ng-value="costCenter.id">{{costCenter.description}}</md-option>
        </md-select>
    </md-input-container>

    <md-list-item class="md-2-line"
                  ng-click="vm.showCreatedAtFilter($event)">
        <div class="md-list-item-text">
            <h3>Fecha de creación</h3>
            <p>
                <span ng-show="vm.filter.minDate || vm.filter.maxDate">
                    {{(vm.filter.minDate | date : "dd MMM y") || '--'}} al {{(vm.filter.maxDate | date : "dd MMM y") || '--'}}
                </span>
                <span ng-show="!vm.filter.minDate && !vm.filter.maxDate">
                    Cualquiera
                </span>
            </p>
        </div>
        <md-button class="md-secondary md-icon-button"
                   ng-click="vm.filter.minDate = vm.filter.maxDate = null; vm.refreshAll();"
                   ng-show="vm.filter.minDate || vm.filter.maxDate">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            <md-tooltip>Limpiar filtro</md-tooltip>
        </md-button>
    </md-list-item>
</md-content>