<div ng-if="vm.hasActiveWorkshift">
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button">
                <md-icon md-font-icon="zmdi zmdi-group-work"></md-icon>
            </md-button>
            <div layout="column"
                 flex>
                <span class="md-body-1">{{vm.workshiftData.title || '--'}}</span>
                <span class="md-caption">
                    <span>Ingresado por </span>
                    <ssvq-employee-profile-link id-employee="{{::vm.workshiftData.createdBy.id}}">
                        {{::vm.workshiftData.createdBy.fullname}}
                    </ssvq-employee-profile-link>
                </span>
            </div>
        </div>
    </md-toolbar>
    <md-content style="height: calc(100vh - 128px);">
        <div layout-gt-sm="row">
            <div flex-gt-sm="60">
                <md-subheader class="md-primary md-hue-1">Detalles del turno</md-subheader>
                <md-card>
                    <md-card-content layout-gt-xs="row">
                        <md-list-item class="md-2-line">
                            <md-icon md-font-icon="zmdi zmdi-home"
                                     class="md-avatar-icon"
                                     layout="row"
                                     layout-align="center center"
                                     md-colors="{background: 'primary-hue-1'}"></md-icon>
                            <div class="md-list-item-text">
                                <h4>Base</h4>
                                <p>{{vm.workshiftData.establishment.name}}</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <md-icon md-font-icon="zmdi zmdi-time"
                                     class="md-avatar-icon"
                                     layout="row"
                                     layout-align="center center"
                                     md-colors="{background: 'primary-hue-1'}"></md-icon>
                            <div class="md-list-item-text">
                                <h4>Inicio</h4>
                                <p>{{vm.workshiftData.startTime | date:"dd 'de' MMM '•' HH:mm"}}</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <md-icon md-font-icon="zmdi zmdi-time"
                                     class="md-avatar-icon"
                                     layout="row"
                                     layout-align="center center"
                                     md-colors="{background: 'primary-hue-1'}"></md-icon>
                            <div class="md-list-item-text">
                                <h4>Término</h4>
                                <p>{{vm.workshiftData.endTime | date:"dd 'de' MMM '•' HH:mm"}}</p>
                            </div>
                        </md-list-item>
                    </md-card-content>
                </md-card>
                <md-subheader class="md-primary md-hue-1">Comentarios</md-subheader>
                <md-card>
                    <md-card-content>
                        <ssvq-comment-box on-create="vm.sendComment"></ssvq-comment-box>
                        <md-divider></md-divider>
                        <md-list>
                            <ssvq-workshift-comment-item comment="comment"
                                                         ng-repeat="comment in vm.commentList">
                            </ssvq-workshift-comment-item>
                        </md-list>
                        <p class="text-center md-caption"
                           ng-if="vm.commentList.length === 0">
                            No hay comentarios aún
                        </p>
                    </md-card-content>
                </md-card>
            </div>
            <div flex>
                <md-subheader class="md-primary md-hue-1">Equipos de trabajo</md-subheader>
                <ssvq-workshift-care-team-list care-team-list="vm.careTeamList"
                                               opts="vm.careTeamListOpts"></ssvq-workshift-care-team-list>
            </div>
        </div>
    </md-content>
</div>
<div ng-if="vm.hasActiveWorkshift == false;"
     style="height: calc(100vh - 128px);"
     layout="column"
     layout-align="center center">
    <ssvq-no-results message="No se ha encontrado un turno activo donde participes"></ssvq-no-results>
</div>
