<div layout="column">
    <div layout="row"
         class="padding-top-10">
        <md-icon md-font-icon="zmdi zmdi-info-outline"></md-icon>
        <span class="md-body-2 padding-left-10">La prioridad para el ascenso se obtiene de:</span>
        <span flex></span>
    </div>
    <md-list>
        <md-list-item>
            <span class="md-body-1">Puntaje de acreditación, ordenado de mayor a menor.</span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">Antigüedad en el cargo (mientras mas actual la fecha, menor prioridad)</span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">Antigüedad en el grado (mientras mas actual la fecha, menor prioridad)</span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">Antigüedad en SSVQ. (mientras menos años, menor prioridad)</span>
        </md-list-item>
        <md-list-item>
            <span class="md-body-1">Antigüedad en la Administración Pública. (mientras menos años, menor prioridad)</span>
        </md-list-item>
    </md-list>
    <span class="md-caption">
        * La prioridad en un escalafón no garantiza que usted la mantenga para el escalafón de mérito al año siguiente: dependerá
        del puntaje obtenido en su acreditación.
    </span>
</div>
