<md-dialog aria-label="Selección de establecimiento"
           id="establishment-selector-dialog"
           flex="40"
           flex-sm="80"
           flex-xs="100"
           class="mobile-fullwidth-dialog">
    <form name="vm.saveForm"
          ng-submit="vm.saveForm.$valid && vm.save()"
          novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                Nueva contingencia
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content"
                 layout="column">
                <ssvq-establishment-autocomplete></ssvq-establishment-autocomplete>
                <md-input-container flex>
                    <label>Nombre</label>
                    <input ng-model="vm.name"
                           type="text">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-warn">Eliminar</md-button>
            <md-button class="md-primary"
                       type="submit"
                       aria-label="Cambiar establecimiento">
                Editar sala
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
